.about-link{
    display: flex;
    align-items: center;
    font-family: $TT;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    &__icon{
        height: 24px;
        width: 24px;
        margin-right: 24px;
    }
}
.land-hero{
    position: relative;
    &__content{
        position: relative;
        z-index: 50;
        height: calc((var(--vhSection,1vh) * 100) - 84px);
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include for-1024(){
            height: calc(100vh - 100px);
            justify-content: center;
            padding-bottom: 50px;
        }
    }
    &__picture{
        position: absolute;
        top: 0;
        left: 0;
        height: 89%;
        width: 100%;
        &:before{
            content: '';
            position: absolute;
            bottom: -13%;
            height: 50%;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,1,1,0) 100%);
            width: 100%;
            left: 0;
        }
        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__about-link{
        display: none;
        @include for-1024(){
            display: flex;
        }
    }
    &__title{
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: $TT;
        font-weight: 700;
        color: #fff;
    }
    &__bottom{
        display: none;
        @include for-600(){
            display: block;
        }
        @include for-1024(){
            position: absolute;
            bottom: 24px;
            left: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 110px 0 32px;
            align-items: flex-end;
        }
        &Desc{
            position: relative;
            font-family: $DM;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            max-width: 188px;
            padding-top: 10px;
            letter-spacing: .05em;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 2px;
                width: 32px;
                background-color: #fff;
                @include for-1024(){
                    height: 4px;
                }
            }
            @include for-1024(){
               padding-top: 20px;
            }
        }
    }
    &__desc{
        font-family: $DM;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        
        letter-spacing: 0.03em;
        
        /* txt/white */
        
        color: #FFFFFF;
        max-width: 422px;
        @include for-600(){
            margin: auto 0 24px;
            font-weight: 300;
            font-size: 20px;
            line-height: 28px;
        }
        @include for-1024(){
            margin: 16px 0 0 83px;
            max-width: 495px;
            font-size: 20px;
            line-height: 32px;
        }
    }
}
.main{
    &--lands{
        padding-top: 84px;
        @include for-1024(){
            padding-top: 100px;
        }
    }
}
.numeral{
    padding: 10px 0;
    @include for-600(){
        padding: 36px 0;
    }
    @include for-1024(){
        padding: 60px 0 ;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
        @include for-1024(){
            padding: 0 8.3%;
        }
    }
    &__item{
        &Value{
            font-family: $TT;
            font-weight: 700;
            font-size: 84px;
            line-height: 80px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            
            /* txt/primary */
            
            color: #DD2B1C;
            @include for-600(){
                font-size: 160px;
                line-height: 150px;
            }
            @include for-1024(){
                font-size: 208px;
                line-height: 176px;
            }
            
        }
        &Name{
            font-family: $TT;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            /* identical to box height, or 100% */
            
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            @include for-600(){
                font-size: 40px;
                line-height: 40px;
                letter-spacing: .05em;
            }
            @include for-1024(){
                font-size: 64px;
                line-height: 96px;
                letter-spacing: .03em;
            }
            
        }
        &Desc{
            font-family: $DM;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            /* or 125% */

            letter-spacing: 0.03em;

            /* txt/white */

            color: #FFFFFF;
            @include for-600(){
                font-size: 18px;
                line-height: 22px;
            }
            @include for-1024(){
                font-size: 24px;
                line-height: 28px;
            }
        }

        &Container{
            padding: 8px;
            box-sizing: border-box;
            &--w33{
                width: 33.3%;
            }
            &--w50{
                width: 50%;
                @include for-600(){
                    width: 46%;
                }
                @include for-1024(){
                    width: 50%;
                }
            }
            &--w100{
                width: 100%;
            }
        }
    }
}
.advancher{
    padding: 46px 0 98px;
    @include for-600(){
        padding: 41px 0 98px;
    }
    @include for-1024(){
        padding: 51px 0 160px;
    }
    color: #fff;
    &__blend{
        position: relative;
        @include for-1024(){
            padding: 0 8.3%;
            box-sizing: border-box;
        }
      
    }
    &__title{
        position: relative;
        z-index: 500;
        
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 84px;
        line-height: 70%;
        font-family: $TT;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        background-position: 100%;
        @include for-600(){
            font-size:148px;
            letter-spacing: 0.03em;
        }
        @include for-1024(){
            font-size: 210px;
        }

    }
    &__desc{
        font-family: $DM;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-top: 10px;
        max-width: 288px;
        @include for-600(){
            max-width: 422px;
            font-size: 20px;
            line-height: 28px;
        }
        @include for-1024(){
            position: absolute;
            bottom: 8px;
            right: 11.4%;
            font-size: 24px;
            line-height: 36px;
            max-width: 349px;
            z-index: 600;
        }
        
    }   

}
.constructor{
    position: relative;
    overflow: hidden;
    background: rgba(36, 26, 26, 0.9);
    padding: 40px 0;
    @include for-600(){
        padding: 40px 0 134px;
    }
    @include for-1024(){
        padding: 0;
    }

    &__title{
        font-family: $TT;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        max-width: 70%;
        @include for-1024(){
            margin-bottom: 40px;
        }
    }

    &__row{
        position: relative;
        @include for-1024(){
            display: flex;
            justify-content: space-between;
        }
    }
    &__picture{
        top: -40px;
        left: -105px;
        position: absolute;
        @include for-600(){
            max-width: 450px;
            top: -197px;
            left: -93px;
            position: absolute;
            width: 74%;
        }
        @include for-1024(){
            position: static;
            top: 0;
            left: 0;
            width: 40%
        }

        img{
            @include for-600(){
                width: 100%;
            }
        }

    }
    &__content{
        position: relative;
        z-index: 10;
        @include for-1024(){
            width: 50%; 
            padding-left: 15px;
            box-sizing: border-box;
            padding-top: 75px;
        }
    }
    &__accordeon{
        width: 53%;
        margin-left: auto;
        margin-top: 24px;
        @include for-600(){
            width: 51%;
            
        }
        @include for-1024(){
            width: 100%;
            margin: 0;
        }
    }
}

.accordeonItem{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(#fff, .6);
    & + &{
        margin-top: 13px;
    }
    &.js-active{
        .accordeonItem__icon{
            span{
                &:last-child{
                    transform: rotate(90deg);
                }
            }
        }
    }
    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }
    &__bg{
        background-color: rgba(#000, .6);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include for-1024(){
            display: none;
        }
    }
    &__body{
        // display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: $transition;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        color: #fff;
        &.js-active{
            opacity: 1;
            visibility: visible;
        }
        @include for-1024(){
            opacity: 1;
            visibility: visible;
            position: static;
            height: auto;
            width: auto;
            padding: 0;
            display: none;
        }
    }
    &__wrap{
        position: relative;
        z-index: 250;
        padding: 16px;
        background: #110101;
        max-height: 90%;
        overflow: auto;
        box-sizing: border-box;
        @include for-1024(){
            padding: 0;
            background: transparent;
            max-height: inherit;
        }
    }
    &__title{
        font-family: $DM;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */
        text-transform: uppercase;
        letter-spacing: 0.03em;
        @include for-600(){
            font-size: 18px;
            line-height: 22px;
        }
        @include for-1024(){
            letter-spacing: .05em;
            font-size: 32px;
            line-height: 1;
            font-family: $TT;
        }
        &--head{
            color: rgba(#fff, .6);
            @include for-1024(){
                color: #DD2B1C;
            }
        }
        &--body{
            font-family: $TT;
            font-weight: 700;
            font-size: 28px;
            line-height: 28px;
            /* identical to box height, or 100% */
            
            letter-spacing: 0.05em;
            text-transform: uppercase;
            
            /* txt/white */
            
            color: #FFFFFF;
            margin-bottom: 8px;
            @include for-1024(){
                display: none;
            }
        }
    }
    &__desc{
        font-family: $DM;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        
        letter-spacing: 0.05em;
        
        /* txt/white */
        
        color: #FFFFFF;
        @include for-1024(){
            font-size: 16px;
            line-height: 24px;
            padding-top: 8px;
        }
    }
    &__icon{
        position: relative;
        display: flex;
        height: 16px;
        width: 16px;
        flex-shrink: 0;
        margin-left: 20px;
        
        span{
           
            position: absolute;
            &:first-child{
                height: 100%;
                width: 100%;
              &:before,&:after{
                position: absolute;
                content: '';
                width: calc(50% - 1px);
                height: 2px;
                top: 50%;
                margin-top: -1px;
                background-color: rgba(#fff, .6);
                @include for-1024(){
                    background-color: #DD2B1C;
                }

              }
              &:before{
                left: 0;
              }
              &:after{
                right: 0;
              }
            }
            &:last-child{
                background-color: rgba(#fff, .6);
                width: 2px;
                height: 100%;
                top: 0;
                left: 50%;
                margin-left: -1px;
                transition: $transition;
                @include for-1024(){
                    background-color: #DD2B1C;
                }
            }
        }
    }
}

.about-prod{
    padding: 30px 0 40px;
    @include for-1024(){
        padding: 56px 0;
    }
    &__title{
        position: relative;
        z-index: 10;
        font-family: $TT;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__row{
        @include for-1024(){
            padding: 0 9%;
            box-sizing: border-box;
        }
    }
    &__content{
       @include for-1024(){
        position: relative;
     
        padding: 10px 0 25px 52%;
       }

    }
    &__picture{
        margin: -25px -15px 25px;
        position: relative;
        z-index: 1;
        img{
            width: 100%;
        }
        @include for-600(){
            margin: -50px -15px 15px;
        }
        @include for-1024(){
            position: absolute;
            left: 0;
            top: 70px;
            width: 59%;
            margin: 0;
            height: auto;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &:before{
            content: '';
            position: absolute; 
            height: 160px;
            width: 100%;
            background: linear-gradient(182.46deg, #110101 2.05%, rgba(17, 1, 1, 0) 97.94%);
            opacity: 0.7;
            @include for-1024(){
                display: none;
            }
        }
    }
    &__allert{
        font-family: $DM;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #DD2B1C;
        margin-bottom: 16px;
        @include for-600(){
            font-size: 20px;
            line-height: 28px;
            max-width: 422px;
        }
        @include for-1024(){
            margin-top: 24px;
            font-size: 24px;
            line-height: 36px;
            position: relative;
            z-index: 10;
            margin-left: 80px;
        }
    }
    &__desc{
        font-family: $DM;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        
        letter-spacing: 0.03em;
        
        /* txt/white */
        
        color: #FFFFFF;
        @include for-600(){
            font-size: 20px;
            line-height: 28px;
            max-width: 422px;
        }
        @include for-1024(){
            margin-left: 80px;
            position: relative;
            z-index: 10;
            font-size: 20px;
            line-height: 32px;
            margin-top: 12px;
        }

        
    }  
    &__linkLabelNew{
        margin-top: 16px;
        @include for-1024(){
            position: relative;
            z-index: 10;
            margin-top: 25px;
            max-width: 264px;
            width: 100%;
        }
    } 
}


.linkLabelNew{
    &__box{
        position: relative;
        display: inline-flex;
        align-items: flex-end;
        line-height: 1;
        font-family: $TT;
        font-weight: 700;
        text-transform: uppercase;
        svg{
            margin-left: 24px;
            transition: $transition;
            @include for-1024(){
                margin-left: 40px;
            }
        }
        &--white{
            color: #fff;
            transition: $transition;
            // border-bottom: 2px solid rgba(#fff, .2);
            box-sizing: border-box;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: rgba(#fff, .2);
            }
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #DD2B1C;
                transition: $transition;
                // background-color: rgba(#fff, .2);
            }
            @include for-1024(){
              
                &::after,&:before{
                    height: 4px;
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }
                    // color: #DD2B1C;
                    svg{
                        fill: #DD2B1C;
                    }
                }
            }
            svg{
                height: 16px;
                width: 16px;
                fill: rgba(#fff, .2);
                flex-shrink: 0;
                @include for-1024(){
                    width: 24px;
                    height: 24px;
                    
                }
            }

        }
        &--lit{
            font-size: 28px;
            letter-spacing: 0.05em;
            padding-bottom: 17px;
            @include for-600(){
                font-size: 40px;
            }
            @include for-1024(){
                font-size: 36px;
                padding-bottom: 26px;
                letter-spacing: .05em;
                svg{
                    height: 24px;
                    width: 24px;
                }
            }
            svg{
                margin-bottom: 5px;
            }
        }
       
    }
   
}
.standarts{
    position: relative;
    overflow: hidden;
    padding: 40px 0;
    @include for-600(){
        padding: 80px 0;
    }
    @include for-1024(){
        padding: 104px 0 027px;
    }
    &__row{
        // display: flex;
        position: relative;
        @include for-1024(){
            display: flex;
            justify-content: space-between;
            padding: 0 8.3%;
            box-sizing: border-box;
        }

    }
    &__title{
        font-family: $TT;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @include for-600(){
            max-width: 70%;
        }
        @include for-1024(){
            max-width: 100%;
        }
    }
    &__desc{
        font-family: $DM;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        margin: 16px 0 34px;
        max-width: 184px;
        @include for-600(){
            font-size: 20px;
            line-height: 28px;
            max-width: 365px;
        }
        @include for-1024(){
            margin: 32px 0 45px 85px;
            max-width: 382px;
            line-height: 32px;
        }
    }
    &__content{
        position: relative;
        // width: 70%;
        z-index: 10;
        width: 65%;
        padding-right: 10px;
        box-sizing: border-box;
    }
    &__picture{
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        right: -128px;
        max-width: 80%;
        @include for-600(){
            transform: none;
            top: 31px;
            right: -109px;
        }
        @include for-1024(){
            position: static;
            width: 45%;
            max-width: 100%;
            margin-right: -13%;
        }
        
    }
}
.landReviews{
    padding: 40px 0;
    @include for-1024(){
        padding: 32px 0;
    }
    @include for-1024(){
        padding: 32px 0 64px;
    }
    &__title{
        font-family: $TT;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @include for-600(){
            max-width: 70%;
        }
       
    }
    &__slider{
        position: relative;
        margin: 0 -15px;
        @include for-1024(){
            margin: 0;
            margin: 0 auto;
        }
    }
    &__pagination{
        display: flex;
        position: absolute;
        right: 13px;
        left: auto;
        width: auto;
        bottom: 65px;
        z-index: 50;
        @include for-600(){
            right: 12px;
            bottom: 0;
        }
        @include for-1024(){
            left: 16.6%;
        }
        .swiper-pagination-bullet{
            height: 8px;
            width: 8px;
            background: rgba(255, 255, 255, 0.2);
            transition: $transition;
            opacity: 1;
            & + &{
                margin-left: 10px;
            }
            &.swiper-pagination-bullet-active{
                background-color: #fff;
            }
        }
    }
    &__arrow{
        height: 24px;
        width: 24px;
        @include for-600(){
            height: 40px;
            width: 40px;
        }
        & + &{
            margin-left: 18px;
        }
        svg{
            height: 100%;
            width: 100%;
        }
    }
    &__arrows{
        display: flex;
        margin-bottom: 8px;
        @include for-600(){
            margin-bottom: 13px;
        }

    }
    &__head{
        display: flex;
        align-items: flex-end;
        margin-bottom: 16px;
        justify-content: space-between;
        @include for-600(){
            margin-bottom: 26px;
        }
        @include for-1024(){
            margin-bottom: 46px;
        }
    }
    
   
}
.ReviewsItem{
    padding: 0 15px;
    box-sizing: border-box;
    @include for-1024(){
       padding: 0 17%;
       box-sizing: border-box;
    }
    &__desc{
        position: relative;
        font-family: $DM;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        
        letter-spacing: 0.05em;
        @include for-600(){
            font-size: 16px;
            line-height: 24px;
            max-width: 85%;
        }
        @include for-1024(){
            font-size: 20px;
            line-height: 32px;
            max-width: 100%;
            box-sizing: border-box;
            padding: 0 45px 0 90px;
        }
    }
    &__descContent{
        position: relative;
        overflow: hidden;
        height: 100px;
        @include for-600(){
            height: auto;
        }
        &--full{
            &:after{
                content: '';
                position: absolute;
                height: 25px;
                background: linear-gradient(180deg, rgba(36, 26, 26, 0) 0%, #241A1A 100%);
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
    &__quotes{
        position: absolute;
        width: 43px;
        height: 50px;
        pointer-events: none;
        @include for-600(){
            width: 69px;
            height: 80px;
        }
        @include for-1024(){
            width: 96px;
            height: 111px;
        }
        &--left{
            top: 0;
            left: -15px;
            @include for-1024(){
                left: 0;
            }
        }
        &--right{
            bottom: 0;
            right: -15px;
            @include for-1024(){
                right: 0;
            }
        }
    }
    &__author{
        display: flex;
        align-items: center;
        margin-top: 16px;
        @include for-600(){
            max-width: 50%;
            margin-top: 23px;
        }
        @include for-1024(){
            max-width: 50%;
            margin-top: 34px;
            margin-left: auto;
            margin-right: -19%;
        }
        &Image{
            height: 48px;
            width: 61px;
            flex-shrink: 0;
            margin-right: 8px;
            background-color: #fff;
            display: flex;
            align-items: center;
            padding: 8px;
            box-sizing: border-box;
            @include for-1024(){
                margin-right: 16px;
            }
            img{
                max-width: 100%;
            }
        }
        &Org{
            font-family: $DM;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            @include for-1024(){
                font-family: $TT;
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: .06em;
                text-transform: uppercase;
                color: #DD2B1C;
            }
        }
    }
    &__showmore{
        display: inline-flex;
        font-family: $DM;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */
        
        letter-spacing: 0.05em;
        
        /* txt/primary */
        
        color: #DD2B1C;
        box-sizing: border-box;
        padding-bottom: 6px;
        border-bottom: 2px dotted rgba(255, 255, 255, 0.4);
        margin-top: 8px;
        @include for-600(){
            display: none;
        }
    }
}
.ourClients{
    position: relative;
    overflow: hidden;
    padding: 40px 0;
    @include for-1024(){
        padding: 60px 0;
    }
    &__title{
        font-family: $TT;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 24px;
        @include for-1024(){
            margin-bottom: 51px;
            
        }
    }
    &__slider{
        overflow: visible;
        @include for-1024(){
            padding: 0 8.3%;
            box-sizing: border-box;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        background-color: #fff;
        @include for-600(){
            height: 168px;
        }
        @include for-1024(){
            height: 133px;
        }
    }
    &__image{
        max-width: 64px;
    }
    &__swiper-slide{
        width: 120px;
        @include for-600(){
            width: 168px;
        }
        @include for-1024(){
            width: 133px;
        }
        
    }
    &__linkLabelNew{
        margin-top: 27px;
        @include for-1024(){
            margin-top: 33px;
            margin-left: 8.3%;
        }
    }
}

.prodcats{
    padding: 40px 0;
    @include for-1024(){
        padding: 69px 0;
    }
    &__linkLabelNew{
        display: none;
        @include for-1024(){
            display: block;
            margin-top: 32px;
            margin-left: 16.6%;
        }
    }
    &__title{
        font-family: $TT;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        @include for-1024(){
            margin-left: 8.3%;
        }
    }
    &__row{
        margin: -4px 0;
        @include for-600(){
            margin: -4px;
            display: flex;
            flex-wrap: wrap;
        }
        @include for-1024(){
            padding: 0 8.3%;
            box-sizing: border-box;
            margin-left: 8.3%;
        }
    }
    &__itemContainer{
        padding: 4px 0;
        box-sizing: border-box;
        @include for-600(){
            width: 50%;
            padding: 4px;
        }
    }
    &Item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 16px;
        height: 100%;
        &__picture{
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__image{
            height: auto;
            width: auto;
            max-height: 100%;
        }
        &__name{
            letter-spacing: 0.03em;
            font-family: $DM;
            font-weight: 300;
            padding-right: 32px;
            box-sizing: border-box;
        }
        &__icon{
            position: absolute;
            right: 21px;
            bottom: 17px;
            display: block;
            width: 16px;
            height: 16px;
            fill: rgba(79,86,89,.1);
            stroke: transparent;
        }
    }
}

.manager{
  
    &__position{
        letter-spacing: .03em;
        margin-bottom: 8px;
        
    }
    &--new{
        padding: 24px 0;
        &.manager{
            @include for-600(){
                padding-top: 48px;
            }
            @include for-1024(){
                padding-top: 28px;
            }
        }
        .manager__info{
            @include for-1024(){
                width: 50%;
            }
        }
        .manager__name , .manager__sub-title,.manager__item a{
            letter-spacing: .03em;
        }
        .manager__title{
            letter-spacing: .03em;
            margin-bottom: 15px;
            @include for-600(){
                margin-bottom: 5px;
            }
        }
        .manager__picture {
         
            margin-left: -54px;
            margin-right: -43px;
            @include for-600(){
                margin-left: -90px;
                margin-right: -43px;
                // margin-bottom: 28px;
                width: 420px;
            }
            @include for-1024(){
                width: 100%;
                margin-left: -40px;
                margin-right: 0;
            }
        }
        .manager__info{
            padding-right: 10px;
            padding-bottom: 30px;
        }
        .manager__label-link{
            bottom: -27px;
            background: rgba(21, 15, 15, 1);
            @include for-600(){
                bottom: 0;
            }
        }
        .manager__sub-list{
            margin-right: -10px;
        }
        .manager__media{
            @include for-600(){
                width: 51.4%;
            }
            
        }
        .manager__name {
            @include for-600(){
                margin-bottom: 17px;
            }
        }
    }
}
.newFooter{
    position: relative;
    overflow: hidden;
    &--land-padding{
        padding-top: 52px;
        padding-right: 22.7%;
        @include for-600(){
            padding-top: 21px;
            padding-right: 28.7%;
        }
    }
    &__seeAlso{
        margin: 32px 0 39px;
        @include for-600(){
            margin: 41px 0 57px;
        }
    }
    &__picture{
        position: absolute;
        right: -58px;
        top: 0;
        width: 149px;
        @include for-600(){
            right: 12px;
            width: 173px;
        }
    }
}
.newQuestions{
    &__link{
        position: relative;
        font-family: $TT;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        line-height: 96%;
        color: rgba(#fff,.44);
        display: block;
        padding-bottom: 15px;
        padding-right: 20px;
        @include for-600(){
            max-width: 325px;
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: rgba(#fff, .2);
        }
    }
    &__icon{
        position: absolute;
        bottom: 22px;
        right: 0;
        height: 16px;
        width: 16px;
        fill: rgba(255, 255, 255, 0.2);;
    }
}

.seeAlso{
        &__title{
            font-family: $DM;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            
            letter-spacing: 0.05em;
            margin-bottom: 13px;
            @include for-600(){
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 12px;
            }
        }
        &__list{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        &__link{
            font-family: $TT;
            font-weight: 700;
            font-size: 28px;
            line-height: 1;
            /* identical to box height, or 100% */
            
            letter-spacing: 0.05em;
            text-transform: uppercase;
            
            /* txt/white */
            
            color: #FFFFFF;
            @include for-600(){
                font-size: 40px;
        
            }
        }
        &__item + &__item{
            margin-top: 12px;
        }
}



