.page__section.you-order {
   padding-top: 90px;
   padding-bottom: 150px;
   @media screen and (min-width: 1024px) {
      padding-top: 110px;
   }
   @media screen and (min-width: 1600px) {
      padding-top: 150px;
      padding-bottom: 200px;
   }
}

.you-order {
   background-color: #e5e5e5;
   font-family: $TT;

   &__header {
      margin-bottom: 30px;
   }

   &__body.container--big-p  {
      padding-bottom: 80px;
   }
}

.order-header {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   &__title {
      font-size: 50px;
      font-weight: 700;
      color: #150F0F;
      margin-bottom: 10px;
      text-transform: uppercase;
   }

   .result-list {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #150f0f21;
      &__count {
         color: #150F0F;
      }
   }

   @media screen and (min-width: 1024px) {
      &__result {
         display: none;
      }

      &__title {
         font-size: 80px;
      }
   }

   @media screen and (min-width: 1366px) {
      margin-bottom: 40px;

      &__title {
         font-size: 120px;
         line-height: 120px;
      }
   }
}

.order-table {
   font-family: $DM;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
   color: #150F0F;
   &__header {
      display: none;
      border-bottom: 1px solid #e5e5e5;
   }

   .table-header {
      white-space: nowrap;
      &__body {
         width: 100%;
      }

      &__count {
         margin-right: 8%;
      }
   }
   @media screen and (min-width: 1024px) {
      &__header {
         display: flex;
         padding: 8px;
         background-color: #F5F5F5;
         padding-left: 112px;
         padding-right: 65px;
      }
   }

   @media screen and (min-width: 1366px) {
      .table-header {
         &__count {
            margin-right: 60px;
         }
      }
   }

   @media screen and (min-width: 1600px) {
      &__header {
         font-size: 16px;
         line-height: 20px;
         padding-right: 55px;
      }
   }
}

.result-list {
   display: flex;
   align-items: center;
   text-transform: uppercase;
   &__item {
      margin-right: 20px;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         right: -10px;
         top: 50%;
         transform: translateY(-50%);
         border-radius: 100%;

         display: block;
         width: 4px;
         height: 4px;
         background-color: #4f5659;
      }
      &:last-child::after {
         display: none;
      }
   }

   &__count {
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      color: #150F0F;
      margin-right: 8px;
   }

   &__name {
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      color: rgba(79, 86, 89, 0.5);
      letter-spacing: 0.06em;
   }
}

.print-link {
   display: flex;
   align-items: center;

   font-size: 16px;
   line-height: 20px;
   font-family: $DM;
   color: #4f5659;
   font-weight: 300;
   &__icon {
      width: 24px;
      height: 24px;
      fill: #4f5659;
      margin-right: 10px;
   }

   &:hover {
      text-decoration: underline;
   }
}

.order-footer {
   width: 100%;
   display: flex;
   align-items: center;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 501;
   height: 50px;
   transition: .1s;
   &__item {
      height: 100%;
      width: 100%;
      padding: 15px 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 24px;
      letter-spacing: 0.05em;
      font-weight: 700;
      color: #FFF;
      text-transform: uppercase;
      white-space: nowrap;
      position: relative;
      width: 100%;

      &--result {
         display: none;
      }

      .order-footer__item-line {
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         width: calc(80%);
         height: 4px;
         background-color: rgba(255, 255, 255, 0.2);
         &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;

            width: 0;
            height: 100%;
            transition: .8s;
         }
      }

      &--btn {
         width: min-content;
         border: none;
         background-color: #50575A;
         cursor: pointer;
         .order-footer__name {
            display: none;
         }
         .order-footer__icon {
            margin: 0;
         }
         .order-footer__item-line {
            &::after {
               background-color: #DD2B1C;
            }
         }

         &:active {
            .order-footer__icon {
               opacity: 1;
            }
         }
      }
      &--result {
         background-color: #110101;

      }
      &--link {
         background-color: #DD2B1C;
         width: 100%;
         cursor: pointer;
         .order-footer__item-line {
            &::after {
               background-color: #FFF;
            }
         }

         &:active {
            .order-footer__icon {
               opacity: 1;
            }
         }
      }

      @media screen and (min-width: 1024px) {
         &--btn {
            .order-footer__name {
               display: block;
            }
            .order-footer__icon {
               margin-left: 34px;
            }
            width: min-content;
            &:hover {
               .order-footer__icon {
                  opacity: 1;
                  fill: #DD2B1C;
               }
               .order-footer__item-line {
                  &::after {
                     width: 100%;
                  }
               }
            }
         }

         &--result {
            display: flex;
            gap: 24px;
            font-size: 24px;
            line-height: 24px;
            .result-list {
               font-weight: 700;
               font-size: 44px;
               line-height: 44px;
               color: #fff;
               &__name {
                  opacity: 0.4;
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 24px;
                  color: #fff;
               }
               &__count {
                  margin-right: 8px;
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 24px;
                  color: #fff;
               }
            }
         }

         &--link {
            width: min-content;
            &:hover {
               .order-footer__icon {
                  fill: #FFF;
                  opacity: 1;
               }
               .order-footer__item-line {
                  &::after {
                     width: 100%;
                  }
               }
            }
         }
      }

      @media screen and (min-width: 1366px) {
         &--result {
            font-size: 44px;
            line-height: 44px;
            .result-list {
               &__name {
                  font-size: 44px;
                  line-height: 44px;
                  }
               &__count {
                  font-size: 44px;
                  line-height: 44px;
               }
            }

         }
      }

      @media screen and (min-width: 1600px) {
         &--result {
            font-size: 60px;
            line-height: 60px;
            .result-list {
               &__name {
                  font-size: 60px;
                  line-height: 60px;
                  }
               &__count {
                  font-size: 60px;
                  line-height: 60px;
               }
            }

         }
      }
   }

   &__name {
      @media screen and (min-width: 1366px) {
         display: block;
         margin-bottom: -8px;
      }
   }

   &__icon {
      width: 24px;
      height: 24px;
      fill: #FFF;
      opacity: .2;
      margin-left: 34px;
      transition: .3s;
   }
   @media screen and (min-width: 1366px) {
      min-height: 104px;

      &__item {
         font-size: 44px;
         line-height: 44px;
         padding: 30px 32px;
      }
   }
   @media screen and (min-width: 1600px) {
      min-height: 128px;

      &__item {
         font-size: 60px;
         line-height: 60px;
         padding: 34px 48px;
      }
   }
}

.order-card {
   display: flex;
   flex-direction: column;
   background-color: #FFF;
   font-family: $DM;
   transition: .3s;
   border-bottom: 1px solid #e5e5e5;
   &__preview {
      display: none;
   }

   &__body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__header {
      display: flex;
      flex-direction: column;
      color: #150F0F;
      font-size: 14px;
      line-height: 1;
      padding: 15px;
      transition: .3s;
   }
   &__title {
      font-weight: 300;
      margin-bottom: 8px;
      transition: .3s;
   }
   &__desc {
      font-weight: 500;
      transition: .3s;
      white-space: nowrap;
   }
   &__pagination {
      display: flex;
      align-items: center;
      height: 50px;
      @media screen and (min-width: 1024px) {
         max-width: 280px;
      }
   }
   &__details {
      display: flex;
      align-items: center;
      height: 100%;
   }

   &__clear {
      background-color: none;
      border: none;
      cursor: pointer;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
      .icon {
         width: 24px;
         height: 24px;
         fill: #150F0F;
         transition: .3s;
      }

      @media screen and (min-width: 1024px) {
         opacity: 0;
         &:hover {
            .icon {
               fill: #DD2B1C;
            }
         }
      }
   }

   &__label {
      height: 100%;
      margin-right: 16px;
   }

   &__counter {
      width: 50%;
      flex: 0 0 auto;
      background-color: #c7c7c7;
   }

   &__details {
      width: 50%;
      flex: 0 0 auto;
      background-color: #F5F5F5;
      justify-content: center;
      @media screen and (min-width: 1024px) {
         background-color: transparent;
      }
   }

   @media screen and (min-width: 600px) {
      &__header {
         font-size: 16px;
         line-height: 20px;
      }
   }

   @media screen and (min-width: 1024px) {
      flex-direction: row;
      padding: 24px 32px;
      align-items: center;
      &:hover {
         background-color: #F5F5F5;
      }
      &__preview {
         display: block;
         width: 56px;
         height: 56px;
         flex: 0 0 56px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-right: 24px;
         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
      }

      &__header {
         padding: 0;
         flex-direction: row;
         align-items: flex-end;
         margin-bottom: 4px;

         font-size: 20px;
         line-height: 24px;
         transition: .3s;
         &:hover {
            color: #DD2B1C;
         }
      }

      &__title {
         margin-bottom: 0;
         margin-right: 4px;
      }

      &__counter {
         margin-right: 16px;
      }

      &__pagination {
         height: 72px;
         margin-left: 20px;
      }
   }
   @media screen and (min-width: 1600px) {
      &__header {
         flex-direction: row;
         align-items: center;

         font-size: 24px;
         line-height: 28px;
      }

      &__title {
         margin-right: 8px;
      }
   }
}

.unit-choice {
   display: flex;
   align-items: center;
   width: 64px;
   &__label {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 50%;
      height: 100%;
   }

   &__input {
      width: 0;
      height: 0;
      opacity: 0;
   }

   &__custom {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #150F0F;
      text-transform: uppercase;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
         content: '';
         width: 0;
         height: 4px;
         background-color: #DD2B1C;

         position: absolute;
         left: 0;
         bottom: 0;
         transition: .3s;
      }

      @media screen and (min-width: 1024px) {
         font-size: 20px;
         line-height: 24px;
         opacity: 0.2;
      }
   }

   .unit-choice__input:checked ~ .unit-choice__custom {
      opacity: 1;
   }

   .unit-choice__input:checked ~ .unit-choice__custom::after {
      width: 100%;
   }
}

.card-filter {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   &__item {
      display: flex;
      width: 100%;
      border-top: 1px solid #c5c5c5;
      @media screen and (min-width: 1024px) {
         margin-right: 24px;
         align-items: center;
         border: none;
         width: min-content;
      }
   }

   &__name {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #50575A;
      white-space: nowrap;
      padding: 8px;
      @media screen and (min-width: 1024px) {
         padding: 0;
      }
   }

   &__choice {
      width: 100%;
   }
}

.choice-box {
   &__header {
      display: flex;
      align-items: center;
      white-space: nowrap;
   }

   &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #150F0F;
      padding: 8px;
   }

   &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      background: none;
      padding: 0;
      margin-left: auto;
      margin-right: 15px;
      .icon {
         width: 16px;
         height: 16px;
         fill: rgba(79, 86, 89, 0.4);
         transform: rotate(-90deg);
      }
      @media screen and (min-width: 1024px) {
         margin-right: 0;
      }
   }

   &__wrapper {
      display: none;
      overflow: hidden;
      transition: .3s;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1000;
      width: 100%;
      height: 100vh;
      @media screen and (min-width: 1024px) {
         position: absolute;
         top: 100%;  
         bottom: auto;
         z-index: 10;
         height: auto;
      }

      &--active {
         display: flex;
         flex-direction: column;
      }
   }

   &__list {
      margin-top: auto;
      overflow: hidden;
      max-height: 0;
      transition: .3s;
      background-color: #FFF;
      z-index: 10;
      @media screen and (min-width: 1024px) {
         margin-top: 0;
      }
   }

   &__item-title {
      @media screen and (min-width: 1024px) {
         display: none;
      }
   }

   &__item {
      padding: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #150F0F;
      transition: .3s;
      border-bottom: 2px solid rgba(79, 86, 89, 0.1);
      cursor: pointer;
      &:first-child {
         border: none;
      }
      &:active {
         color: #DD2B1C;
      }
      @media screen and (min-width: 1024px) {
         border: 2px solid rgba(79, 86, 89, 0.1);
         border-bottom: none;
         &:last-child {
            border-bottom: 2px solid rgba(79, 86, 89, 0.1);
         }
         &:hover {
            color: #DD2B1C;
         }
      }
   }

   &__label {
      cursor: pointer;
      position: relative;
   }

   &__input {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
   }

   &--active {
      .choice-box__btn {
         .icon {
            transition: .3s;
            transform: rotate(90deg);
         }
      }
   }

   @media screen and (min-width: 1024px) {
      position: relative;
   }
}

.counter {
   display: flex;
   align-items: center;
   height: 100%;
   transition: .3s;
   input[type="text"].counter__input {
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #150F0F;
      border: none;
      border-radius: 0;
      border-top: 5px solid #c7c7c7;
      border-bottom: 5px solid #c7c7c7;
      @media screen and (min-width: 1024px) {
         padding: 24px 16px;
         border-top: 5px solid transparent;
         border-bottom: 5px solid transparent;
         transition: .3s;
      }
   }
   &__btn {
      height: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c7c7c7;
      border: none;
      cursor: pointer;
      span {
         display: block;
         width: 16px;
         height: 2px;
         background-color: #150F0F;
      }

      &--up {
         span {
            position: relative;
            background-color: #DD2B1C;
            &::after {
               content: '';
               display: block;
               height: 16px;
               width: 2px;
               background-color: #DD2B1C;

               position: absolute;
               left: 50%;
               top: 50%;
               transform: translate(-50%, -50%);
            }
         }
      }
      @media screen and (min-width: 1024px) {
         opacity: 0;
         padding: 28px 12px;
         background-color: transparent;
      }
   }

   @media screen and (min-width: 1024px) {
      background-color: transparent;
   }
}

.order-card.active {
   @media screen and (min-width: 1024px) {
      .counter {
         background-color: #c7c7c7;
         input[type="text"].counter__input {
            border-top: 5px solid #c7c7c7;
            border-bottom: 5px solid #c7c7c7;
         }

         &__btn {
            opacity: 1; 
         }
      }

      .order-card__clear {
         opacity: 1;
      }
   }
}

.form-order-header {
   display: flex;
   flex-direction: column;
   font-family: $TT;
   &__title {
      font-weight: 700;
      font-size: 44px;
      text-transform: uppercase;
      line-height: 44px;
      color: #150F0F;
      margin-bottom: 8px;
      @media screen and (min-width: 1366px) {
         font-size: 120px;
         line-height: 120px;
         margin-bottom: 0;
      }

      @media screen and (min-width: 1600px) {
         font-size: 144px;
         line-height: 144px;
      }
   }

   @media screen and (min-width: 1366px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
   }
}