                <!-- FOOTER -->
                <footer class="page__footer footer">
                    <div class="page__container">
                            <div class="page__box">
                                    <div class="footer__box brief brief--light brief--ms-14 brief--dm-16">

                                            <!-- INFO -->
                                            <div class="footer__info">

                                                    <!-- LIST -->
                                                    <ul class="footer__list">

                                                            <!-- ITEM -->
                                                            <li class="footer__item">
                                                                    © АО «Завод Красный Якорь» 2022
                                                            </li>
                                                            <!-- / ITEM -->

                                                            <!-- ITEM -->
                                                            <li class="footer__item">
                                                                    <a class="footer__link" href="#">
                                                                            Политика конфиденциальности
                                                                    </a>
                                                            </li>
                                                            <!-- / ITEM -->

                                                    </ul>
                                                    <!-- / LIST -->

                                                    <!-- LIST -->
                                                    <ul class="footer__list">

                                                            <!-- ITEM -->
                                                            <li class="footer__item">
                                                                    Россия, г. Нижний Новгород, ул. Московское шоссе, д. 120
                                                            </li>
                                                            <!-- / ITEM -->

                                                            <!-- ITEM -->
                                                            <li class="footer__item">

                                                                    <!-- SUB-LIST -->
                                                                    <ul class="footer__sub-list">

                                                                            <!-- SUB ITEM -->
                                                                            <li class="footer__sub-item">
                                                                                    <a class="footer__link" href="mailto:info@redanchor.ru">
                                                                                            info@redanchor.ru
                                                                                    </a>
                                                                            </li>
                                                                            <!-- / SUB-ITEM -->

                                                                            <!-- SUB-ITEM -->
                                                                            <li class="footer__sub-item">
                                                                                    <a class="footer__link" href="tel:+78312115511">
                                                                                            +7 831 211-55-11
                                                                                    </a>
                                                                            </li>
                                                                            <!-- / SUB-ITEM -->
                                                                            
                                                                    </ul>
                                                                    <!-- / SUB-LIST -->

                                                            </li>
                                                            <!-- / ITEM -->

                                                    </ul>
                                                    <!-- / LIST -->

                                            </div>
                                            <!-- / INFO -->

                                            <!-- DEV -->
                                            <p class="footer__dev">
                                                    Сделано в <a class="footer__link" href="#">VZDH</a>
                                            </p>
                                            <!-- / DEV -->

                                    </div>
                            </div>                                
                    </div>
            </footer>
            <!-- / FOOTER -->
            <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <script src="./assets/scripts/libraries/TweenMax.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.js" integrity="sha512-mq6TSOBEH8eoYFBvyDQOQf63xgTeAk7ps+MHGLWZ6Byz0BqQzrP+3GIgYL+KvLaWgpL8XgDVbIRYQeLa3Vqu6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./assets/scripts/libraries/simplebar.min.js"></script>
<script src="./assets/scripts/libraries/OverlayScrollbars.min.js"></script>