        <!-- POPUP -->
        <!-- <div class="body__popup popup js-popup" data-popup-name="popup-l">
            <div class="popup__box">
                    <div class="popup__block popup__block--light js-popup__block">

                            <button class="popup__button pointer js-popup__button" type="button">
                                    <span class="popup__button-box">
                                            <svg class="popup__button-icon popup__button-icon--dark">
                                                    <use href="./assets/images/svg-sprite/svg-sprite.svg#cross"></use>
                                            </svg>
                                    </span>
                            </button>

                            <div class="popup__title title title--ms-44 ui-color-black-100">
                                    Состав якорных смычек
                            </div>

                            <div class="popup__inner no-scrollbar">

                                    <div class="slider js-slider ui-background-white-100 swiper" data-slider-name="popup-slider">
                                    
                                            <div class="swiper-wrapper">

                                                    <figure class="popup__slide slider__slide swiper-slide">
                                                            <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                    </figure>

                                                    <figure class="popup__slide slider__slide swiper-slide">
                                                            <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                    </figure>

                                                    <figure class="popup__slide slider__slide swiper-slide">
                                                            <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                    </figure>

                                            </div>
    
                                            <div class="popup__buttons slider__buttons">

                                                    <button class="slider__button slider__button--l js-slider__button--l pointer" type="button">
                                                            <span class="slider__box">
                                                                    <svg class="slider__icon">
                                                                            <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-w"></use>
                                                                    </svg>
                                                            </span>
                                                    </button>

                                                    <button class="slider__button slider__button--r js-slider__button--r pointer" type="button">
                                                            <span class="slider__box">
                                                                    <svg class="slider__icon">
                                                                            <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-e"></use>
                                                                    </svg>
                                                            </span>
                                                    </button>

                                            </div>
    
                                    </div>

                                    <div class="popup__content">

                                            <div class="text-content ui-color-black-100">

                                                    <p>
                                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                            Velit perspiciatis cumque aspernatur tenetur quae magnam explicabo nisi,
                                                            omnis sequi sed eligendi molestiae illum, voluptate architecto ut
                                                            accusantium reiciendis doloribus, dolore non deleniti minus!
                                                            Eaque laborum quo consequatur dolor necessitatibus iusto
                                                            corrupti sapiente magni, dolorem consequuntur, earum modi
                                                            velit a nam voluptatem nostrum, id aperiam eveniet.
                                                            Earum iusto excepturi dolorem voluptas quia dolore
                                                            quidem deleniti exercitationem dicta eaque nihil at,
                                                            dolor pariatur ipsam iste autem laudantium minus consequatur!
                                                            Sed, quo nisi. Tempore eaque corrupti aut dicta cupiditate
                                                            assumenda voluptatum dolores distinctio temporibus.
                                                            Hic, odio? Aperiam labore doloremque culpa, alias laudantium quo.
                                                    </p>
                                            
                                            </div>

                                            <a class="popup__more-link more-link more-link--dark brief brief--light brief--ms-14 brief--ds-20 ui-color-red-100 pointer" href="#">
                                                    <span class="more-link__box">
                                                            <span class="more-link__text">
                                                                    Подробнее
                                                            </span>
                                                            <svg class="more-link__icon">
                                                                    <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-se"></use>
                                                            </svg>
                                                    </span>
                                            </a>

                                    </div>

                            </div>

                    </div>
            </div>
        </div> -->
        <!-- / POPUP -->

        <!-- POPUP -->
        <!-- <div class="body__popup popup js-popup" data-popup-name="popup-d">
                <div class="popup__box">
                        <div class="popup__block popup__block--dark js-popup__block">

                                <button class="popup__button pointer js-popup__button" type="button">
                                        <span class="popup__button-box">
                                                <svg class="popup__button-icon popup__button-icon--light">
                                                        <use href="./assets/images/svg-sprite/svg-sprite.svg#cross"></use>
                                                </svg>
                                        </span>
                                </button>

                                <div class="popup__title title title--ms-44 ui-color-white-100">
                                        Состав якорных смычек
                                </div>

                                <div class="popup__inner no-scrollbar">

                                        <div class="slider js-slider ui-background-white-100 swiper" data-slider-name="popup-slider">
                                        
                                                <div class="swiper-wrapper">

                                                        <figure class="popup__slide slider__slide swiper-slide">
                                                                <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                        </figure>

                                                        <figure class="popup__slide slider__slide swiper-slide">
                                                                <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                        </figure>

                                                        <figure class="popup__slide slider__slide swiper-slide">
                                                                <img class="slider__image" src="./assets/images/content/popup-slider/img-popup-slider.png" alt="Alt Text">
                                                        </figure>

                                                </div>
        
                                                <div class="popup__buttons slider__buttons">

                                                        <button class="slider__button slider__button--l js-slider__button--l pointer" type="button">
                                                                <span class="slider__box">
                                                                        <svg class="slider__icon">
                                                                                <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-w"></use>
                                                                        </svg>
                                                                </span>
                                                        </button>

                                                        <button class="slider__button slider__button--r js-slider__button--r pointer" type="button">
                                                                <span class="slider__box">
                                                                        <svg class="slider__icon">
                                                                                <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-e"></use>
                                                                        </svg>
                                                                </span>
                                                        </button>

                                                </div>
        
                                        </div>

                                        <div class="popup__content">

                                                <div class="text-content ui-color-white-100">

                                                        <p>
                                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                                Velit perspiciatis cumque aspernatur tenetur quae magnam explicabo nisi,
                                                                omnis sequi sed eligendi molestiae illum, voluptate architecto ut
                                                                accusantium reiciendis doloribus, dolore non deleniti minus!
                                                                Eaque laborum quo consequatur dolor necessitatibus iusto
                                                                corrupti sapiente magni, dolorem consequuntur, earum modi
                                                                velit a nam voluptatem nostrum, id aperiam eveniet.
                                                                Earum iusto excepturi dolorem voluptas quia dolore
                                                                quidem deleniti exercitationem dicta eaque nihil at,
                                                                dolor pariatur ipsam iste autem laudantium minus consequatur!
                                                                Sed, quo nisi. Tempore eaque corrupti aut dicta cupiditate
                                                                assumenda voluptatum dolores distinctio temporibus.
                                                                Hic, odio? Aperiam labore doloremque culpa, alias laudantium quo.
                                                        </p>
                                                
                                                </div>

                                                <a class="popup__more-link more-link more-link--light brief brief--light brief--ms-14 brief--ds-20 ui-color-red-100 pointer" href="#">
                                                        <span class="more-link__box">
                                                                <span class="more-link__text">
                                                                        Подробнее
                                                                </span>
                                                                <svg class="more-link__icon">
                                                                        <use href="./assets/images/svg-sprite/svg-sprite.svg#arrow-se"></use>
                                                                </svg>
                                                        </span>
                                                </a>

                                        </div>

                                </div>

                        </div>
                </div>
        </div> -->
        <!-- / POPUP -->
        <div class="g-hidden">
                <div class="b-modal b-modal--lit" id="callback-modal">
                    <div class="modal-content">
                        <div class="defaultModal">
                            <div class="defaultModal__head">
                                <div class="defaultModal__head-title">
                                    Обратный звонок
                                </div>
                                <div class="defaultModal__head-desc">
                                        Оставьте свои контактные данные, и мы свяжемся с вами в ближайшее время.
                                </div>
                                <div class="defaultModal__head-close b-modal_close arcticmodal-close">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.827 12.0027L23.6653 3.16436L20.8369 0.335938L11.9985 9.17432L3.16046 0.336239L0.332031 3.16467L9.17011 12.0027L0.332234 20.8406L3.16066 23.669L11.9985 14.8312L20.8394 23.672L23.6678 20.8436L14.827 12.0027Z" fill="#110101"/>
                                    </svg>
                                </div>
                            </div>
                            <form action="#" class="defaultModal__form">
                               <div class="defaultModal__row">
                                <div class="defaultModal__container ui-background-white-100 defaultModal__container--w50">
                                        <span class="defaultModal__input-req">*</span>
                                        <input type="text" class="defaultModal__input" name="name" placeholder=" ">
                                        <label class="defaultModal__input-placeholder" for="name">Ваше имя</label>
                                    </div>
                                    <div class="defaultModal__container ui-background-white-100 defaultModal__container--w50">
                                        <span class="defaultModal__input-req">*</span>
                                        <input type="text" name="phone" class="defaultModal__input defaultModal__input--phone" placeholder=" ">
                                        <label class="defaultModal__input-placeholder" for="phone">Телефон</label>
                                    </div>
                                    <div class="defaultModal__container defaultModal__container--w50">
                                       <label class="defaultModal__policy-checkbox policy-checkbox">
                                                <input type="checkbox" name="policy" id="" checked>
                                                <span class="policy-checkbox__container">
                                                        <span class="policy-checkbox__button">
                                                                <svg width="33" height="24" viewBox="0 0 33 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2798 23.6339L32.7181 3.19561L29.8896 0.367188L12.2729 17.9839L3.10968 8.82061L0.28125 11.649L12.2665 23.6343L12.2733 23.6274L12.2798 23.6339Z" fill="#DD2B1C"/>
                                                                        </svg>
                                                                        
                                                        </span>
                                                        <span class="policy-checkbox__text">
                                                                Я принимаю условия <a href="#">Политики 
                                                                        конфиденциальности</a> и даю согласие 
                                                                        на обработку своих персональных данных
                                                                </span>
                                                </span>

                                       </label>
                                    </div>
                                    <div class="defaultModal__container defaultModal__container--w50">
                                        <div class="linkLabel defaultModal__linkLabel">
                                                <button class="linkLabel__box linkLabel__box--red linkLabel__box--form">
                                                        Отправить
                                                <svg>
                                                        <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#arrow-se"></use>
                                                </svg>
                                                </button>
                                        </div>
                                    </div>
                               </div>
                                
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        <!-- SCRIPTS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
        <script src="./assets/scripts/script.min.js"></script>
        <!-- / SCRIPTS -->
        
    </body>
    <!-- / Body -->

</html>